#workers table {width: 100%;border-collapse: collapse; box-shadow: 0vw 0vw 0.2vw 0.2vw blue;margin:1vw auto;}
#workers table tr {width: 100%;border: 0.1vw solid black;}
#workers table tr td {border: 0.1vw solid black;padding:0.1vw;}
#workers table tr .id {width: 2%;}
#workers table tr .name {width: 21%;}
#workers table tr .age {width: 12%;}
#workers table tr .email {width: 26%;}
#workers table tr .city {width: 19%;}
#workers table tr .travel {width: 8%;}
#workers table tr .rank {width: 12%;}
#workers table tr td.buttontd {padding:0.25vw;background: linear-gradient(to bottom, rgb(85, 153, 255), cyan);text-align: center;}
#workers table tr td.buttontd a {font-weight: 700;text-decoration: none;width: 100%;font-size: 1.5vw;color: darkblue;}
#workers table tr td.buttontd:hover {opacity: 0.8;background: linear-gradient(to bottom, rgb(85, 153, 255), darkcyan);}
#workers table tr td.buttontd a:hover {color:white;cursor:pointer;}
#workers table tr td {padding:0.25vw;font-size: 1.05vw; text-align: center;padding:0.05vw;background:rgb(140, 233, 233);color:darkblue;}
#workers table tr th {width: 100%;border: 0.1vw solid black;font-size: 1.15vw;color:darkblue;background: linear-gradient(cyan, rgb(140, 233, 233));}
#workers table tr td input[type=text] {background: transparent;border:none;font-size: 1.25vw;width: 1.75vw;text-align: center;cursor:not-allowed;}
#workers p {font-size: 1.3vw;}
@media only screen and (max-width: 768px) {
    #workers p {font-size: 3.9vw;}
    #workers table tr .id {width: 3%;}
    #workers table tr .name {width: 30%;}
    #workers table tr .city {width: 37%;}
    #workers table tr .rank {width: 30%;}
    #workers table tr td input[type=text] {font-size: 3.75vw;width: 4.75vw;}
    #workers table tr th {width: 100%;font-size: 3.55vw;}
    #workers table tr td {padding:0.75vw;font-size: 3.15vw;padding:0.15vw;}
    #workers table tr td.buttontd {padding:0.75vw;}
    #workers table tr td.buttontd a {font-size: 4.5vw;}
    #workers table {margin-bottom: 0;}

}

/* 1+20+11+22+18+7+9+12 = 100 */