#page {background-color: black;}
.tartalom {width:1280px;background-color: grey;margin:auto;border-radius: 40px;border: outset darkgray 5px;}
p {text-align: justify;color: white;}
#menu {background-color: lightgrey;padding-left:60px;}
#menu input {background-color: black;color:white;margin-left:20px;border-radius: 20px;border: 1px black solid;box-shadow: 0px 0px 2px 4px black;}
h2, h3 {color:white;}
h1 {text-align: center; color: white;padding-top:20px;}
#arc {padding:5px;float:right;border:outset darkslategray 3px;margin-left:10px;border-radius: 15px;}
#arc img {width: 200px;border-radius: 10px;}
.kiemelt {color:darkgray;font-weight: bold;}
#emlek {margin-left: 200px;margin-top:20px;}
#emlek a {color:grey;text-decoration: none;}
#lista {display: inline-flex; width:90%;list-style-type:none;}
#lista li {width: 30%;padding:5px;}